<apex:page controller="TrafiguraEditConfigurationController" action="{!openEditOrderPage}" >
<apex:form id="frm">
    <apex:pageblock >  
    <apex:pageMessages id="showmsg"></apex:pageMessages>
    </apex:pageBlock>
</apex:form>
</apex:page>