<!--
* @author <Latika Parmar (Accenture)>
* @name EP_CreateShipTo 
* @Created Date 22/09/2016 
* @description <This Page is a redirectional page on Ship To button used to Create Ship To Account> 
* @version <1.0>
-->
<apex:page standardController="Account" extensions="EP_CreateShipToExtension"  id="page">
    <!-- Defect : 46578 - Start -->
    <c:EP_PerformanceMonitor />
    <!-- Defect : 46578 - End -->
    <apex:form id="form">
        <apex:pageBlock tabStyle="Account" id="block">
            <apex:pageBlockButtons id="blockBtn">
                <apex:commandButton value="{!$Label.EP_Continue_Label}" action="{!selectRecordType}" id="continueBtn"/>
                <apex:commandButton value="{!$Label.EP_Cancel_Label}" action="{!cancel}" id="cancelBtn"/>
            </apex:pageBlockButtons>
            <apex:pageBlockSection collapsible="False" title="{!$Label.EP_Select_Record_Type}" id="rtSection">
                <apex:pageBlockSectionItem id="secItem">
                    <apex:outputLabel value="{!$Label.EP_Record_Type_Label}" id="rtlabel"/>
                    <apex:selectList value="{!selectedRecordTypeId}" multiselect="False" size="1" id="rtList">
                        <apex:selectOptions value="{!RecordTypes}" /> 
                    </apex:selectList>
                 </apex:pageBlockSectionItem>
            </apex:pageBlockSection>
        </apex:pageBlock>
    </apex:form>
</apex:page>