<apex:page standardController="Account" extensions="EP_CustomerEditPayloadCtrlExtn" action="{!checkPageAccess}" contentType="application/xml" showChat="false" showHeader="false" sidebar="false" standardStylesheets="false">
     <shipToAddresses>
        <apex:repeat value="{!shipToAddressesLS}" var="shipTo" id="shipToRepeat">
           <shipToAddress>
              <seqId>{!shipTo.shipToSeqId}</seqId>
              <identifier>
                 <shipToId>{!shipTo.shipToAddress.EP_Account_Id__c}</shipToId>
                 <!--<custId>{!shipTo.shipToAddress.EP_Account_Id__c}</custId>-->
                 <custId>{!IF(shipTo.shipToAddress.ParentId==null,shipTo.shipToAddress.EP_Account_Id__c,shipTo.shipToAddress.Parent.EP_Account_Id__c )}</custId>
              </identifier>
              <name>{!shipTo.shipToAddress.Name}</name>
              <name2>{!shipTo.shipToAddress.EP_Account_Name_2__c}</name2>
              <cntryCode>{!shipTo.shipToAddress.EP_Country_Code__c}</cntryCode>
              <langCode>{!shipTo.shipToAddress.EP_Language_Code__c}</langCode>
              <address>{!IF(shipTo.shipToAddress.ParentId!=null,shipTo.shipToAddress.ShippingStreet,shipTo.shipToAddress.BillingStreet)}</address>
              <postCode>{!IF(shipTo.shipToAddress.ParentId!=null,shipTo.shipToAddress.ShippingPostalCode,shipTo.shipToAddress.BillingPostalCode)}</postCode>
              <city>{!IF(shipTo.shipToAddress.ParentId!=null,shipTo.shipToAddress.ShippingCity,shipTo.shipToAddress.BillingCity)}</city>
              <phone>{!shipTo.shipToAddress.Phone}</phone>
              <fax>{!shipTo.shipToAddress.Fax}</fax>
              <email>{!shipTo.shipToAddress.EP_Email__c}</email>
              <shipToType>{!shipTo.shipToAddress.EP_Ship_To_Type__c}</shipToType>
              <!--<status>{!shipTo.shipToAddress.EP_Status__c}</status>-->
              <status>{!shipTo.shipToStatus}</status>
              <isVMI>{!shipTo.shipToAddress.EP_Is_VMI_ShipTo__c}</isVMI>
              <dlvryType>{!shipTo.shipToAddress.EP_Delivery_Type__c}</dlvryType>
              <!--<modifyOn>{!shipTo.shipToAddress.LastModifiedDate}</modifyOn>-->
              <!--TR DateTime 59844 start-->
              <modifyOn><apex:outputText value="{0,date,yyyy-MM-dd'T'HH:mm:ss}"><apex:param value="{!shipTo.shipToAddress.LastModifiedDate}"/></apex:outputText></modifyOn>
              <!--TR DateTime 59844 End-->
              <modifyBy>{!shipTo.shipToAddress.LastModifiedBy.Alias}</modifyBy>
              <tanks>
                <apex:repeat value="{!shipTo.tanks}" var="tankLS" id="tankRepeat">
                 <tank>
                    <seqId>{!tankLS.tankSeqId}</seqId>
                    <identifier>
                       <shipToId>{!tankLS.Tank.EP_Ship_To_Nr__c}</shipToId>
                       <tankId>{!tankLS.Tank.EP_Tank_Code__c}</tankId>
                    </identifier>
                    <productId>{!tankLS.Tank.EP_Product_Code__c}</productId>
                     <!-- #L4_45352_Start-->
                    <uom>{!tankLS.Tank.EP_UnitOfMeasure__c}</uom>
                    <!-- #L4_45352_END-->
                    <capacity>{!tankLS.Tank.EP_Capacity__c}</capacity>
                    <safeFillLevel>{!tankLS.Tank.EP_Safe_Fill_Level__c}</safeFillLevel>
                    <deadstock>{!tankLS.Tank.EP_Deadstock__c}</deadstock>
                    <tankStatus>{!tankLS.Tank.EP_TANK_STATUS_TO_LS__c}</tankStatus>
                    <!--<modifyOn>{!tankLS.Tank.LastModifiedDate}</modifyOn>-->
                    <!--TR DateTime 59844 start-->
                    <modifyOn><apex:outputText value="{0,date,yyyy-MM-dd'T'HH:mm:ss}"><apex:param value="{!tankLS.Tank.LastModifiedDate}"/></apex:outputText></modifyOn>
                    <!--TR DateTime 59844 End-->
                    <modifyBy>{!tankLS.Tank.EP_Last_Modified_By_Name__c}</modifyBy>
                 </tank>
                 </apex:repeat>
              </tanks>
              <supplyLocations>
                 <apex:repeat value="{!shipTo.supplyLocations}" var="supplyLocationsLS" id="supplyLocationRepeat">
                 <supplyLocation>
                    <seqId>{!supplyLocationsLS.supplyLocationSeqId }</seqId>
                    <identifier>
                       <stockHldngLocId>{!supplyLocationsLS.supplyLocation.EP_Stock_Location_Id__c}</stockHldngLocId>
                       <shipToId>{!supplyLocationsLS.supplyLocation.EP_Ship_To_Id__c}</shipToId>
                    </identifier>
                    <distance>{!supplyLocationsLS.supplyLocation.EP_Distance__c}</distance>
                    <uom>{!supplyLocationsLS.supplyLocation.EP_UOM__c}</uom>
                    <default>{!supplyLocationsLS.supplyLocation.EP_Default__c}</default>
                    <!--<modifyOn>{!supplyLocationsLS.supplyLocation.LastModifiedDate}</modifyOn>-->
                    <!--TR DateTime 59844 start-->
                    <modifyOn><apex:outputText value="{0,date,yyyy-MM-dd'T'HH:mm:ss}"><apex:param value="{!supplyLocationsLS.supplyLocation.LastModifiedDate}"/></apex:outputText></modifyOn>
                    <!--TR DateTime 59844 End-->
                    <modifyBy>{!supplyLocationsLS.supplyLocation.EP_Last_Modified_By_Name__c}</modifyBy>
                 </supplyLocation>
                 </apex:repeat>
              </supplyLocations>
              <clientId>{!shipTo.shipToAddress.EP_Puma_Company_Code__c}</clientId>
              <!--<clientId>{!Account.EP_Account_Company_Name__c}</clientId>-->
           </shipToAddress>
           </apex:repeat>
        </shipToAddresses>
</apex:page>