<!--
* @author <Prayank Sahu (Accenture)>
* @name C1
* @Created Date 14/02/2018
* @description <This Page to Provide Access to multiple SellTo and ShipTo> 
* @version <1.0>
-->
<apex:page standardcontroller="EP_FE_PortalUserAccountAccess__c" id="PageId" extensions="EP_FE_MultipleSellToAccess">
<script src="https://code.jquery.com/jquery-1.11.1.min.js"> </script>

 <apex:form id="formId">
        <apex:pageBlock title="Portal User Account Access" Id="PageBlockId">
            <apex:pageBlockButtons location="bottom">
                <apex:commandButton action="{!AllShipToWithCheckbox}" value="Show Associated ShipTo" reRender="RefShipToBox,parentRefAcknowledgeSection" onclick="confirmation()" >
                  <!--<apex:param name="SellToId" value="{!PtlAccount.EP_FE_Sellto_Name__c}" />-->
                 </apex:commandButton>
            </apex:pageBlockButtons>
            <apex:pageBlockSection columns="2"  Id="PageBlockSectionId">
                <apex:OutputField value="{!PtlAccount.EP_FE_Customer_Name__c}" id="UsrId"  html-disabled="true" />               
                <apex:inputField value="{!PtlAccount.EP_FE_Sellto_Name__c}" id="sellToId" required="True"/>                                           
            </apex:pageBlockSection>
           

        </apex:pageBlock>
        </apex:form>
        <apex:form >
        <apex:outputPanel Id="RefShipToBox">
         <apex:pageBlock rendered="{!bShipToSection}" >            
            <apex:pageBlockButtons >
            <apex:commandButton action="{!SelectedShipTo}" value="Insert Selected ShipTo Account" reRender="RefAcknowledgeSection,RefShipToBox" onclick="if(!isChecked(event)) return false;">
                
            </apex:commandButton>
            <apex:commandButton action="{!SelectAll}" value="Select All" reRender="RefShipToBox" Id="SelectAllButton" rendered="{!showSelectAllbutton}"/>
             <apex:commandButton action="{!UnselectAll}" value="Unselect All" reRender="RefShipToBox" Id="UnselectAllButton" rendered="{!showUnselectAllbutton}" />
            </apex:pageBlockButtons>    
           
            <apex:pageblockTable value="{!lstAccWithCheckbox}" var="v">
                <apex:column headerValue="Checkbox">                
                    <apex:inputCheckbox value="{!v.Checkbox}" styleClass="chkSelected" />
                </apex:column>                
                <apex:column value="{!v.accObj.Name}"/>
                <apex:column value="{!v.accObj.Id}"/>
                <apex:column value="{!v.accObj.ParentId}" />
            </apex:pageblockTable>
        </apex:pageBlock>
        </apex:outputPanel>        
    </apex:form>
    <apex:form >
    <apex:outputPanel Id="parentRefAcknowledgeSection">
    <apex:outputPanel Id="RefAcknowledgeSection">
     <apex:pageBlock rendered="{!bAcknowledgeSection}" > 
       <b>Record Successfully Inserted</b>
     </apex:pageblock>
     </apex:outputPanel>
     </apex:outputPanel>
    </apex:form>
    <script type="text/javascript">
        function confirmation()
        {
            var x = document.getElementById('{!$Component.formId.PageBlockId.PageBlockSectionId.sellToId}').value;
            if(x==null || x=='')
            {
               alert('Please Enter SellTo Name..!!');
            }                               
        }
    </script>
    <script type="text/javascript">
        j$ = jQuery.noConflict();

        function isChecked(e) {
            if(j$(".chkSelected:checked").length == 0){
                e.preventDefault();
                alert('Select At Least One ShipTo To Insert');
                
               return false;
            }
            else{                        
            return true;
            }
             
        }
    </script>
   
</apex:page>