<apex:page standardController="Product2">
    <c:EP_PerformanceMonitor />

    <apex:pageBlock mode="maindetail">
        <apex:pageBlockSection collapsible="false" showHeader="false">
            <apex:pageBlockSectionItem >
                <apex:outputLabel >{!$ObjectType.Product2.fields.EP_Product_Colour__c.Label}</apex:outputLabel>
                <div style="width: 20px; height: 14px; background-color: #{!Product2.EP_Product_Colour__c}">&nbsp;</div>
            </apex:pageBlockSectionItem>
            <apex:pageBlockSectionItem >
                <apex:outputLabel >{!$ObjectType.Product2.fields.EP_Product_Capacity_Colour__c.Label}</apex:outputLabel>
                <div style="width: 20px; height: 14px; background-color: #{!Product2.EP_Product_Capacity_Colour__c}">&nbsp;</div>
            </apex:pageBlockSectionItem>
        </apex:pageBlockSection>
    </apex:pageBlock>

</apex:page>