<apex:page docType="html-5.0" showChat="false" standardStylesheets="false" showHeader="false" applyBodyTag="false" applyHtmlTag="false" sidebar="false" controller="EP_PortalOrderControllerNew" action="{!setAccountOrderDetails}">
<html>

</html>
</apex:page>