<!--
 *    Author Name <Amit Singh>
 *    Creation Date <29/11/2016>
 *    Page Name <EP_RedirectTankEdit>
 *    Description <This page is overriding standard edit Tank page. 
                    if user clicks edit on already synced account then system will redirect user to change request vf page
                    otherwise custom tank edit VF page.>
 *    Version 1.0
-->
<apex:page standardcontroller="EP_Tank__c" action="{!redirectTank}" extensions="EP_CustomerEditRedirectController" id="page">
      <c:EP_PerformanceMonitor />
      <apex:sectionHeader subtitle="{!EP_Tank__c.Name}" title="{$Label.EP_Edit_Tank_Section_Header_Label}" id="sectHeader"/>
      <apex:pageMessages id="msg"></apex:pageMessages>
      <apex:outputLink value="/{!EP_Tank__c.id}" id="link">{!$Label.EP_Back_Button_Label}</apex:outputLink>
</apex:page>