<!--
 *    Author Name  <Amit Singh>
 *    Creation Date  <29/11/2016>
 *    Page Name  <EP_RedirectBankAccountEdit>
 *    Description   <This page is overriding standard edit account page. 
                    if user clicks edit on already synced account then system will redirect user to change request vf page
                    otherwise standard page.>
 *    Version <1.0> 
-->
<apex:page standardcontroller="EP_Bank_Account__c"  extensions="EP_CustomerEditRedirectController" id="page">
      <c:EP_PerformanceMonitor />
      <apex:sectionHeader subtitle="{!EP_Bank_Account__c.Name}" title="{!$Label.EP_Edit_Bank_Account_Label}" id="header"/>
      <apex:pageMessages id="msg"></apex:pageMessages>
      <apex:outputLink value="/{!EP_Bank_Account__c.id}" id="link">{!$Label.EP_Back_Button_Label}</apex:outputLink>
</apex:page>