<apex:page showHeader="true" standardController="EP_Credit_Holding__c" extensions="EP_CreditHoldingExtensionController" sidebar="false">
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;

}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

input[type="checkbox"] {
  width: 20px; /*Desired width*/
  height: 20px; /*Desired height*/
  cursor: pointer;
  
}

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
</style>
<apex:form >
     <apex:pageBlock >
          <apex:outputPanel layout="block" style="text-align:center; ">
                <apex:commandButton value="Save" action="{!save}" ></apex:commandButton>&nbsp;
                <apex:commandButton value="Cancel" action="{!cancel}" ></apex:commandButton>
            </apex:outputPanel>
        <apex:pageBlockSection title="Credit Holding" >
            <apex:outputPanel layout="block">
                    <apex:outputLabel styleClass="label">Status</apex:outputLabel>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <apex:inputField styleClass="dropdown" value="{!ctx.holdingObj.EP_Status__c}"/>
            </apex:outputPanel>
        </apex:pageBlockSection>
        <apex:pageBlockSection title="Associated Customers">
                    <apex:repeat value="{!ctx.associatedCustomer}" var="account">
                        <label class="container">{!account.customerAcc.name}
                        <input type="checkbox" checked="checked"/>
                        <span class="checkmark"></span>
                        </label>
                    </apex:repeat>
        </apex:pageBlockSection>
        <apex:pageBlockSection title="Search Customers to Associate" columns="3">
            <apex:pageBlockSectionItem >
                <apex:selectList styleClass="dropdown" style="width: 50%" value="{!ctx.searchCriteria}" multiselect="false" size="1">
                        <apex:selectOption itemValue="Name" itemLabel="Name" />
                        <apex:selectOption itemValue="Number" itemLabel="Number" /> 
                    </apex:selectList>
            </apex:pageBlockSectionItem>
            <apex:pageBlockSectionItem >
                <apex:inputText value="{!ctx.searchCriteria}"/>
            </apex:pageBlockSectionItem>
            <apex:pageBlockSectionItem >
                <apex:commandButton value="Search" action="{!search}"></apex:commandButton>
            </apex:pageBlockSectionItem>
        </apex:pageBlockSection>
         <apex:pageBlockSection title="Associated Customers" rendered="">
                    <apex:repeat value="{!ctx.searchCustomerWrapper}" var="searchCust">
                        <label class="container">{!searchCust.customerAcc.name}
                        <input type="checkbox" checked="checked"/>
                        <span class="checkmark"></span>
                        </label>
                    </apex:repeat>
        </apex:pageBlockSection>
     </apex:pageBlock>
 </apex:form>
</apex:page>