<apex:component controller="EP_TimepickerComponentController2" access="global">
    <apex:attribute name="required" description="" type="Boolean" />
    <apex:attribute name="hour" description="This property is used to retrieve the hour value of the component" type="Integer" required="false"/>
    <apex:attribute name="minute" description="This property is used to retrieve the minute value of the component" type="Integer" required="false"/>
    <apex:attribute name="style" description="This property is used to set the style of the component" type="String" required="false"/>
    <apex:attribute name="styleClass" description="This property is used to set the class of the component" type="String" required="false"/>
    
    <apex:actionFunction name="setTime" action="{!updateTime}" reRender="timePanel" />
    
    <apex:componentBody >
        <apex:outputPanel style="{!style}" styleClass="{!styleClass}" >
            <apex:outputPanel styleClass="requiredInput" layout="block" id="timePanel">
                <apex:outputPanel rendered="{!required}" styleClass="requiredBlock" layout="block"/>
                <apex:selectList size="1" value="{!hour}" onchange="setTime()" disabled="{!if(styleClass=='disabled',true,false)}">
                    <apex:selectOptions value="{!hours}"/>
                </apex:selectList>&nbsp;:&nbsp;
                <apex:selectList size="1" value="{!minute}" onchange="setTime()" disabled="{!if(styleClass=='disabled',true,false)}">
                    <apex:selectOptions value="{!minutes}"/>
                </apex:selectList> 
            </apex:outputPanel>
        </apex:outputPanel>
    </apex:componentBody>
</apex:component>